.navbar {
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(1000px);
    grid-column-start: auto;
    background: rgba(236, 236, 236, 0.8);
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px 11px;
    padding: 5px;
}

#list-item:hover{
    background-color: rgba(236, 236, 236, 0.8);
}

